<li>
    <div class="movie-card">

        <a routerLink="/events/{{event._id}}/details">
            <figure class="card-banner">
                <img src="{{event.imageUrl}}" alt="">
            </figure>
        </a>

        <div class="title-wrapper">
            <a routerLink="/events/{{event._id}}/details">
                <h3 class="card-title">{{event.name}}</h3>
            </a>
            <div class="location-badge">
                <!-- <ion-icon name="location"></ion-icon>&nbsp; --> {{event.location}}
            </div>

        </div>

        <div class="badge badge-outline">

            <div class="date-time">
                <div>
                    <!-- <ion-icon name="calendar-outline"></ion-icon> -->

                    <time datetime="">{{event.date}}</time>
                </div>

                <div class="duration">
                    <!-- <ion-icon name="time-outline"></ion-icon> -->

                    <time datetime="">{{event.duration}} min</time>
                </div>

                <div class="rating">
                    <!-- <ion-icon name="star"></ion-icon> -->

                    <data>{{event.rating}}</data>
                </div>
            </div>

        </div>
    </div>
</li>



