<section class="hero">
  <div class="container">

    <div class="hero-content">

      <p class="hero-subtitle">Theatrix</p>

      <h1 class="h1 hero-title">
        Discover <strong>Events</strong>, Buy <strong>Tickets</strong>, & More.
      </h1>

      <div class="meta-wrapper">

        <div class="badge-wrapper">
          <div class="badge badge-fill">VISA</div>
          <div class="badge badge-outline">EU</div>
        </div>

        <div class="ganre-wrapper">
          <!-- <ion-icon name="location-sharp"></ion-icon> -->
          <a href="#">Varna</a> |
          <a href="#">Bourgas</a> |
          <a href="#">Plovdiv</a> |
          <a href="#">Sofia</a> |
          <a href="#">London</a>
        </div>

      </div>

      <button class="btn btn-primary">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <a routerLink="/search" class="navbar-link">Browse now</a>
      </button>

      <br />
      <form action="/search" method="GET" class="src">
        <input type="text" id="search-input" name="name" placeholder="Search...">
        <button type="submit" class="search-btn vertical">&nbsp;
          <!-- <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon> -->
        </button>
      </form>

    </div>

  </div>
</section>