<!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <!-- 
      - #CTA
    -->

    <app-cta-form />

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a routerLink="/" class="logo">
            <img src="/assets/images/logo2.png" alt="Theathrix logo">
          </a>

          <ul class="footer-list">


            <li>
              <a routerLink="/" class="navbar-link">Home</a>
            </li>

          <li>
            <a routerLink="/events/theater" class="navbar-link">Theater</a>
          </li>

          <li>
            <a routerLink="/events/concerts" class="navbar-link">Concerts</a>
          </li>

          <li>
            <a routerLink="/contacts" class="navbar-link">Contacts</a>
          </li>

            <li>
              <a routerLink="/about" class="navlink-link">About</a>
            </li>


          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">


            <li>
              <a href="https://fb.com/theatrix" class="navbar-social-link">
                <!-- <ion-icon name="logo-facebook"></ion-icon> -->
              </a>
            </li>

            <li>
              <a href="https://instagram.com/theatrix" class="navbar-social-link">
                <!-- <ion-icon name="logo-instagram"></ion-icon> -->
              </a>
            </li>


            <li>
              <a href="https://youtube.com/theatrix" class="navbar-social-link">
                <!-- <ion-icon name="logo-youtube"></ion-icon> -->
              </a>
            </li>


          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024. A <strong>Dimitar.Ivanov87</strong> @ SoftUni, Project. All Rights Reserved
        </p>

        <!-- <img src="/assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img"> -->

      </div>
    </div>

  </footer>

  <a href="#top" class="go-top" data-go-top [class.active]="isGoTopActive" (click)="scrollTop()">
    <!-- <ion-icon name="chevron-up"></ion-icon> --> <i class="bx bxs-chevron-up"></i>
  </a>

  <script type="module" src="/js/cookieconsent-config.js"></script>
