<article>
    <section class="movie-detail">
      <p class="section-subtitle">Register</p>
      <h2 class="h2 section-title">Please, fill up your <strong>details</strong>:</h2>
      <div class="container-reg-log-edit">
        <div class="wrapper">
          <form [formGroup]="form" (ngSubmit)="register()">
            <h1>Register</h1>

            <!-- username -->

            <div class="input-box">
              <input type="text" name="username" placeholder="Username" value="" formControlName="username" required>
              <i class='bx bxs-user'></i>
            </div>

            <ng-container *ngIf="form.get('username')?.touched">
              <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                Username is required!
              </p>
      
              <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                Username must be at least 3 characters!
              </p>
            </ng-container>

            <!-- password and repeatPassword-->

            <ng-container formGroupName="passGroup">
    
            <div class="input-box">
              <input type="password" name="password" placeholder="Password" formControlName="password">
              <i class='bx bxs-lock-alt'></i>
            </div>

            <!-- <ng-container *ngIf="form.get('password')?.touched">
              <p class="error" *ngIf="form.get('password')?.errors?.['required']">
                Password is required!
              </p>
      
              <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
                Password must be at least 8 characters!
              </p>
            </ng-container> -->

            <div class="input-box">
              <input type="password" name="repeatPassword" placeholder="Repeat password" formControlName="repeatPassword">
              <i class='bx bxs-lock-alt'></i>
            </div>

            <!-- <ng-container *ngIf="form.get('repeatPassword')?.touched">
              <p class="error" *ngIf="form.get('repeatPassword')?.errors?.['required']">
                Repeat password is required!
              </p>
      
              <p class="error" *ngIf="form.get('repeatPassword')?.errors?.['minlength']">
                Repeat password must be at least 3 characters!
              </p>
            </ng-container> -->

            <ng-container *ngIf="passGroup?.get('repeatPassword')?.touched">
              <p class="error" *ngIf="passGroup?.errors?.['matchPasswordsValidator'] || passGroup?.get('repeatPassword')?.errors?.['required']">
                Repeat Password does not match password!
              </p>
            </ng-container>
          </ng-container>

            <!-- email -->

            <div class="input-box">
              <input type="email" name="email" placeholder="Email" value="" formControlName="email">
              <i class='bx bx-mail-send'></i>
            </div>

            <ng-container *ngIf="form.get('email')?.touched">
              <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                Email is required!
              </p>
              <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">
                Invalid email!
              </p>
            </ng-container>

            <!-- city -->

            <div class="input-box">
              <input type="text" name="city" placeholder="City" value="" formControlName="city">
              <i class='bx bxs-map'></i>
            </div>

            <ng-container *ngIf="form.get('city')?.touched">
              <p class="error" *ngIf="form.get('city')?.errors?.['required']">
                City is required!
              </p>
      
              <p class="error" *ngIf="form.get('city')?.errors?.['minlength']">
                City must be at least 3 characters!
              </p>
            </ng-container>


            <button [disabled]="form.invalid" [style]="{ backgroundColor: form.invalid ? 'grey' : 'red', cursor: form.invalid ? 'not-allowed' : 'pointer', color: form.invalid ? 'white' : 'white'  }"class="btn">Register</button>
            <div class="register-link">
              <p><strong>Already have an account? <a routerLink="/auth/login">Login</a></strong></p>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>