<!-- EVENTS TEMPLATE WITH EVENT CARD TEMPLATE INSTEAD OF 4 EVENT TYPES, DISPLAY FLEX NOT WORKING IN ANY WAY BUG -->
<section class="upcoming">
    <div class="container">
        <ng-container *ngIf="events">
          <ng-container *ngFor="let eventType of events | keyvalue">
            <div class="flex-wrapper">
              <div class="title-wrapper">
                <h2 class="h2 section-title">
                  {{ eventType.key === 'concertEvents' ? 'Latest Concert Events' : eventType.key === 'theaterEvents' ? 'Latest Theater Performances' : eventType.key === 'topRatedEvents' ? 'Top Rated Events' : 'Pinned Events' }}
                </h2>
              </div>
            </div>
            <ul class="movies-list has-scrollbar">
              <ng-container *ngIf="eventType.value.length; else noEvents">
                <ng-container *ngFor="let event of eventType.value">
                  <app-event-card [event]="event"></app-event-card>
                </ng-container>
              </ng-container>
              <ng-template #noEvents>
                <h2 class="h2 section-title">There are no upcoming events!</h2>
              </ng-template>
            </ul>
          </ng-container>
        </ng-container>
      </div>
</section>