:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --theatrix-red: hsl(357, 92%, 47%);
  /*  #e60a15 */
  --theatrix-reds: hsl(356, 75%, 49%);
  --theatrix-gray: hsl(0, 0%, 64%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 58px;
  --fs-2: 32px;
  --fs-3: 30px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 16px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;
  --fs-12: 11px;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;

  /**
   * spacing
   */

  --section-padding: 100px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* z-index: 1; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: var(--white);
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;

}

li a.active {
  color: red;
  /* Change color for active link */
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

select,
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white)
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--black);
}

body.active {
  overflow: hidden;
}





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

/**
 * TITLES & SUBTITLES
 */

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.2;
}

strong {
  color: var(--theatrix-red);
}

.h1 {
  font-size: var(--fs-1);
}


.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-6);
}

.section-subtitle {
  color: var(--theatrix-red);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 50px;
}

.section-title {
  text-align: center;
}

/**
   * BADGE
   */

.badge {
  color: var(--white);
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  border: 1px solid transparent;
  padding: 2px 10px;
  border-radius: 12px;
}

.badge-fill {
  background: var(--white);
  color: var(--raisin-black);
}

.badge-outline {
  border-color: var(--white);
}

/* movie meta here or in styles.css decide where now is in both */

/**
   * MOVIE META
   */

.meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px 25px;
  margin-bottom: 50px;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
  color: var(--white);
}

.ganre-wrapper>a {
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.ganre-wrapper>a:is(:hover, :focus) {
  color: var(--theatrix-red);
}

.date-time {
  gap: 15px;
}

.date-time>div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}

.date-time ion-icon {
  --ionicon-stroke-width: 50px;
  color: var(--light-gray);
}

/* movie meta end */


  /*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 550px screen
   */
  
   @media (min-width: 550px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 42px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      margin-inline: auto;
    }
  }

  
  /**
   * responsive for large than 768px screen
   */
  
   @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 36px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
   }

   
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 960px;
    }
  }
  
  
  /**
   * responsive for large than 1200px screen
   */
  
   @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 60px;
      --fs-4: 26px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 1320px;
      /* padding-bottom: 30px; */
    }
  
  
   }


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theatrix-red);
}

* {
  scrollbar-color: var(--theatrix-red) transparent;
}

.location-badge {
  color: var(--white);

  display: inline-flex;
}

.performances {
  background-attachment: fixed;
}

figure {
  border-radius: 10px;
}

.css-loader{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx, .bxs {
  font-size: 14px;
 
}
.bxs-map {
  font-size: 17px;

}
.bxs-coupon, .bx-body, .bx-donate-heart {
  font-size: 50px;
}
.bx-menu, .bxs-mask {
  font-size: 50px;
  /* color: var(--theatrix-red); */
}
.icon1{
  color: var(--theatrix-red); 
  transform: rotate(-45deg);
}
.icon2 {
  color: var(--theatrix-red); 
  color: var(--theatrix-white); 
  transform: rotate(0deg);
}
.icon1
 {
  position: fixed;
  top: 35px;
  right: 20px;
}

.icon2 {
  position: fixed;
  top: 45px;
  right: 20px;
}


/* <i class='bx bxs-mask'></i> */