<!-- 
# PINNED EVENTS
-->
<section class="top-rated">
    <div class="container">
        <p class="section-subtitle">latest</p>
        <h2 class="h2 section-title">Pinned <strong>Events</strong></h2>
        <!-- {{#if latestPins}} -->
        <ul class="movies-list">
            <!--   
            {{#each latestPins}}
            {{> eventCardDash}}
            {{/each}}
            {{else}} -->
        </ul>
        <h2 class="h2 section-title">There are no upcomming music events!</h2>
        <!-- {{/if}} -->
    </div>
</section>